In [ ]:
import pandas as pd

In [ ]:
data = pd.read_json("transaction-data-adhoc-analysis.json")
data

,address,birthdate,mail,name,sex,username,transaction_items,transaction_value,transaction_date
0,USNS Wagner\nFPO AE 00917,1926/03/11,watsonbrenda@gmail.com,Jennifer Campbell,F,veronicawells,"Exotic Extras,Beef Chicharon,(x4)",5196,2022/01/12
1,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,"Exotic Extras,Beef Chicharon,(x3);HealthyKid 3...",12056,2022/01/12
2,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,"HealthyKid 3+,Gummy Vitamins,(x3);HealthyKid 3...",5500,2022/01/08
3,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,"HealthyKid 3+,Yummy Vegetables,(x1)",500,2022/01/10
4,"33911 Hansen Loaf\nWest Sandra, ND 54188",1949/09/27,michael78@yahoo.com,Kristen Cooper,F,qhernandez,"Candy City,Orange Beans,(x3);Candy City,Gummy ...",2697,2022/01/24
...,...,...,...,...,...,...,...,...,...
83031,"96081 Harrison Brooks\nJenniferbury, MA 02124",2019/10/26,christina55@hotmail.com,Tammy Byrd,F,kmcconnell,"Exotic Extras,Kimchi and Seaweed,(x2);HealthyK...",3588,2022/06/05
83032,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,"HealthyKid 3+,Yummy Vegetables,(x1);Exotic Ext...",2095,2022/06/12
83033,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,"Candy City,Orange Beans,(x4);Candy City,Gummy ...",3396,2022/06/15
83034,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,"HealthyKid 3+,Nutrional Milk,(x2);Candy City,G...",4280,2022/06/09
83035,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,"HealthyKid 3+,Nutrional Milk,(x1);Candy City,G...",2639,2022/06/03

In [ ]:
itemListed = data.assign(transaction_items = data['transaction_items'].str.split(';'))

In [ ]:
singleItemOnly = itemListed[itemListed['transaction_items'].apply(len) == 1][['transaction_items','transaction_value']]

In [ ]:
singleItemOnly = singleItemOnly.assign(
    itemCount = lambda x: x['transaction_items'].apply(lambda x: int(x[0].split(',')[-1].strip('()x'))),
    transaction_items = lambda x: x['transaction_items'].apply(lambda x: '{} - {}'.format(x[0].split(',')[0],x[0].split(',')[1]))
  )

In [ ]:
singleItemOnly = singleItemOnly.drop_duplicates(subset="transaction_items", keep="first")
singleItemOnly

                     transaction_items  transaction_value  itemCount
0       Exotic Extras - Beef Chicharon               5196          4
3     HealthyKid 3+ - Yummy Vegetables                500          1
6   Exotic Extras - Kimchi and Seaweed               3196          4
8             Candy City - Gummy Worms                150          1
11      HealthyKid 3+ - Gummy Vitamins               3000          2
18      HealthyKid 3+ - Nutrional Milk               5970          3
19           Candy City - Orange Beans                597          3

In [ ]:
singleItemOnly = singleItemOnly.assign(unit_value = singleItemOnly['transaction_value']/singleItemOnly['itemCount'])

In [ ]:
singleItemOnly.index = singleItemOnly['transaction_items']

In [ ]:
singleItemOnly.drop(columns=['transaction_items','transaction_value','itemCount'],inplace=True)
singleItemOnly

                                    unit_value
transaction_items
Exotic Extras - Beef Chicharon          1299.0
HealthyKid 3+ - Yummy Vegetables         500.0
Exotic Extras - Kimchi and Seaweed       799.0
Candy City - Gummy Worms                 150.0
HealthyKid 3+ - Gummy Vitamins          1500.0
HealthyKid 3+ - Nutrional Milk          1990.0
Candy City - Orange Beans                199.0

In [ ]:
data = itemListed.explode('transaction_items').reset_index(drop=True)
data

,address,birthdate,mail,name,sex,username,transaction_items,transaction_value,transaction_date
0,USNS Wagner\nFPO AE 00917,1926/03/11,watsonbrenda@gmail.com,Jennifer Campbell,F,veronicawells,"Exotic Extras,Beef Chicharon,(x4)",5196,2022/01/12
1,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,"Exotic Extras,Beef Chicharon,(x3)",12056,2022/01/12
2,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,"HealthyKid 3+,Nutrional Milk,(x4)",12056,2022/01/12
3,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,"Candy City,Orange Beans,(x1)",12056,2022/01/12
4,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,"HealthyKid 3+,Gummy Vitamins,(x3)",5500,2022/01/08
...,...,...,...,...,...,...,...,...,...
166114,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,"HealthyKid 3+,Nutrional Milk,(x2)",4280,2022/06/09
166115,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,"Candy City,Gummy Worms,(x2)",4280,2022/06/09
166116,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,"HealthyKid 3+,Nutrional Milk,(x1)",2639,2022/06/03
166117,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,"Candy City,Gummy Worms,(x3)",2639,2022/06/03
166118,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,"Candy City,Orange Beans,(x1)",2639,2022/06/03

In [ ]:
data = data.assign(transaction_date = pd.to_datetime(data["transaction_date"]))

data = data.assign(
    item_count = lambda x: x['transaction_items'].apply(lambda x: int(x.split(',')[-1].strip('()x'))),
    transaction_items = lambda x: x['transaction_items'].apply(lambda x: '{} - {}'.format(x.split(',')[0],x.split(',')[1]))
  )

data['transaction_value'] = data['item_count'] * data['transaction_items'].apply(lambda x: singleItemOnly.loc[x].values[0])

data

,address,birthdate,mail,name,sex,username,transaction_items,transaction_value,transaction_date,item_count
0,USNS Wagner\nFPO AE 00917,1926/03/11,watsonbrenda@gmail.com,Jennifer Campbell,F,veronicawells,Exotic Extras - Beef Chicharon,5196.0,2022-01-12,4
1,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,Exotic Extras - Beef Chicharon,3897.0,2022-01-12,3
2,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,HealthyKid 3+ - Nutrional Milk,7960.0,2022-01-12,4
3,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,Candy City - Orange Beans,199.0,2022-01-12,1
4,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,HealthyKid 3+ - Gummy Vitamins,4500.0,2022-01-08,3
...,...,...,...,...,...,...,...,...,...,...
166114,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,HealthyKid 3+ - Nutrional Milk,3980.0,2022-06-09,2
166115,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,Candy City - Gummy Worms,300.0,2022-06-09,2
166116,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,HealthyKid 3+ - Nutrional Milk,1990.0,2022-06-03,1
166117,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,Candy City - Gummy Worms,450.0,2022-06-03,3
166118,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,Candy City - Orange Beans,199.0,2022-06-03,1

# Count of each item sold per month

In [ ]:
data.groupby([data['transaction_items'],data['transaction_date'].dt.year,data['transaction_date'].dt.month])['item_count'].sum()

transaction_items                   transaction_date  transaction_date
Candy City - Gummy Worms            2022              1                    9559
                                                      2                    9996
                                                      3                    9986
                                                      4                   10043
                                                      5                    9801
                                                      6                    9934
Candy City - Orange Beans           2022              1                    9774
                                                      2                   10037
                                                      3                    9611
                                                      4                    9914
                                                      5                    9964
                                                      6                   10106
Exotic Extras - Beef Chicharon      2022              1                    9665
                                                      2                   10001
                                                      3                    9816
                                                      4                    9890
                                                      5                   10028
                                                      6                    9902
Exotic Extras - Kimchi and Seaweed  2022              1                    9676
                                                      2                    9949
                                                      3                    9967
                                                      4                    9921
                                                      5                    9773
                                                      6                   10104
HealthyKid 3+ - Gummy Vitamins      2022              1                    9681
                                                      2                    9980
                                                      3                   10145
                                                      4                    9842
                                                      5                    9948
                                                      6                    9980
HealthyKid 3+ - Nutrional Milk      2022              1                    9727
                                                      2                    9691
                                                      3                    9876
                                                      4                    9786
                                                      5                    9881
                                                      6                    9767
HealthyKid 3+ - Yummy Vegetables    2022              1                    9959
                                                      2                   10256
                                                      3                    9896
                                                      4                    9861
                                                      5                    9735
                                                      6                    9722
Name: item_count, dtype: int64

#Total sale value per item per month

In [ ]:
data.groupby([data['transaction_items'],data['transaction_date'].dt.year,data['transaction_date'].dt.month])['transaction_value'].sum()

transaction_items                   transaction_date  transaction_date
Candy City - Gummy Worms            2022              1                    1433850.0
                                                      2                    1499400.0
                                                      3                    1497900.0
                                                      4                    1506450.0
                                                      5                    1470150.0
                                                      6                    1490100.0
Candy City - Orange Beans           2022              1                    1945026.0
                                                      2                    1997363.0
                                                      3                    1912589.0
                                                      4                    1972886.0
                                                      5                    1982836.0
                                                      6                    2011094.0
Exotic Extras - Beef Chicharon      2022              1                   12554835.0
                                                      2                   12991299.0
                                                      3                   12750984.0
                                                      4                   12847110.0
                                                      5                   13026372.0
                                                      6                   12862698.0
Exotic Extras - Kimchi and Seaweed  2022              1                    7731124.0
                                                      2                    7949251.0
                                                      3                    7963633.0
                                                      4                    7926879.0
                                                      5                    7808627.0
                                                      6                    8073096.0
HealthyKid 3+ - Gummy Vitamins      2022              1                   14521500.0
                                                      2                   14970000.0
                                                      3                   15217500.0
                                                      4                   14763000.0
                                                      5                   14922000.0
                                                      6                   14970000.0
HealthyKid 3+ - Nutrional Milk      2022              1                   19356730.0
                                                      2                   19285090.0
                                                      3                   19653240.0
                                                      4                   19474140.0
                                                      5                   19663190.0
                                                      6                   19436330.0
HealthyKid 3+ - Yummy Vegetables    2022              1                    4979500.0
                                                      2                    5128000.0
                                                      3                    4948000.0
                                                      4                    4930500.0
                                                      5                    4867500.0
                                                      6                    4861000.0
Name: transaction_value, dtype: float64

# Repeaters, Inactive, Engaged

In [ ]:
userTable = data[['name','transaction_date']]
userTable = userTable.assign(transaction_date = userTable['transaction_date'].apply(lambda x: (x.year,x.month)))
userTable

                     name transaction_date
0       Jennifer Campbell        (2022, 1)
1             Melissa Kim        (2022, 1)
2             Melissa Kim        (2022, 1)
3             Melissa Kim        (2022, 1)
4             Melissa Kim        (2022, 1)
...                   ...              ...
166114    Donald Andersen        (2022, 6)
166115    Donald Andersen        (2022, 6)
166116  Stephanie Russell        (2022, 6)
166117  Stephanie Russell        (2022, 6)
166118  Stephanie Russell        (2022, 6)

[166119 rows x 2 columns]

In [ ]:
userTable = pd.pivot_table(userTable, index=['transaction_date'], columns=['name'], aggfunc=any, fill_value=False)
userTable

name,Aaron Beasley,Aaron Brewer,Aaron Brown,Aaron Coffey,Aaron Davis,Aaron Escobar,Aaron Flores,Aaron Flowers,Aaron Garrett,Aaron Holder,...,Zachary Richard,Zachary Salinas,Zachary Scott,Zachary Smith,Zachary Torres,Zachary Valentine,Zachary Ware,Zachary Williams,Zachary Wilson,Zachary York
transaction_date,,,,,,,,,,,,,,,,,,,,,
"(2022, 1)",False,True,False,True,True,False,True,True,True,False,...,True,False,True,True,False,True,True,True,False,True
"(2022, 2)",False,True,False,True,True,True,True,True,True,True,...,True,True,True,True,False,True,True,True,False,True
"(2022, 3)",False,True,True,True,False,False,True,False,True,True,...,True,False,True,True,True,True,True,True,False,True
"(2022, 4)",True,True,True,True,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
"(2022, 5)",True,False,True,True,True,True,False,False,True,True,...,True,True,True,True,True,True,True,False,True,True
"(2022, 6)",True,True,True,False,True,False,True,True,True,True,...,True,True,True,True,True,True,True,False,True,True

In [ ]:
repeaters = userTable.apply(
    lambda x: [False if i==0 else (True if x[i-1] and x[i] else False) for i,j in enumerate(x)],
  ).transpose().sum()
inactive = userTable.apply(
    lambda x: [False if i==0 else ((True if x[i]==False else False) if any(x[:i]) else False) for i,j in enumerate(x)]
  ).transpose().sum()
engaged = userTable.apply(
    lambda x: [True if all(x[:i]) else False for i,j in enumerate(x)]
  ).transpose().sum()

pd.DataFrame({'repeaters':repeaters,'inactive':inactive,'engaged':engaged}).transpose()

transaction_date,"(2022, 1)","(2022, 2)","(2022, 3)","(2022, 4)","(2022, 5)","(2022, 6)"
repeaters,0,5172,5216,5154,5110,5193
inactive,0,1416,1747,1909,1917,1835
engaged,8487,6588,5172,4126,3289,2667